body {
    /*font-family:'Droid Sans', sans-serif;*/
    font-family: sans-serif;
    background-color:rgb(255, 222, 52);
    margin: 4%;
    font-size: 110%;
}

h1 {
    margin: 0.4em auto;
    font-size: 1.6em;
}

#poollabel, .namelabel {
    font-weight: bold;
}

#word {
    font-size: 1.1em;
    text-transform: uppercase;
    width: 100%;
    margin: 0.4rem 0;
}

#pool, .words{
    background-color: #fcfae5;
    font-size: 1.5em;
    padding: 0.2em 0.2em;
    display: flex;
    min-height: 1em;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    line-height: 110%;
    letter-spacing: 0.1em;
    border-radius: 0.05em
}

.score {
    margin-left: auto;
    padding-left: 0.2em;
}

#info {
    max-width: 50em;
}

#startbutton {
    font-size: 2em;
}

#newwordmessage {
    min-height: 1em;
    margin: 0.1rem 0;
}