<!DOCTYPE HTML>
<html>

<head>
  <title>Anagrams</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/css.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <script type="text/javascript" src="static/js.js"></script>
</head>

<body>
  <h1>ANAGRAMS</h1>
  <div>
    {% for message in messages %}
    <div id="message">{{ message }}</div>
    {% endfor %}
    <div id="newwordmessage">{{ newwordmessage }}</div>
    <div id="pool">🄰tiles in pool:&ensp;{{poolletters}}</div>
    <div id="words">words played:&ensp;{{ words|join('&ensp') }}</div>

    <form action="/" method="post">
        <input type="text" name="word" id="word" placeholder="type a word to claim it" autofocus autocapitalize=off>
    </form>
  </div>
</body>

</html>
