<!DOCTYPE HTML>
<html>

<head data-room={{room}}>
  <title>Anagram Land</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="stylesheet" type="text/css" href="/static/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/css.css" />
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  <script type="text/javascript" src="/static/js.js?v=1"></script>
</head>

<body>
    <div class="heading">
        <h1>ANAGRAM LAND</h1>
        <h2>{{room}}</h1>
    </div>
    <div style="clear: both;"></div>
  <div>
    <div id="poollabel">Available Tiles:&ensp;</div>
    <div id="pool">{{ poolletters|join('&NegativeMediumSpace;')|safe }}</div>
    <div id="wordlist"></div>
    <div id="globalmessage">&nbsp;</div>
    <div id="localmessage">&nbsp;</div>
    <form id="wordform" method="post">
        <input type="text" name="input" id="input" placeholder="type a word to claim it or press enter to add a tile" autofocus autocapitalize=off autocomplete=off>
    </form>
  </div>
</body>

</html>
